# Virtual environment
venv/
.venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Local multimedia storage and database persistence files
storage/

# Local configuration environment secrets
.env
